<template>
    <div id="appContainer">
        <Loader v-if="loading"/>
        <div class="container-fluid m-0 p-0 pb-5">
            <nav class="navbar navbar-expand-lg custom-header">
                <a class="navbar-brand" href="#">{{ pageTitle }}</a>
            </nav>
        </div>
        <div class="container">
            <div id="form">
                <form method="POST" action="#" @submit.prevent class="user_form">
                    <p class="display-4">Formulario de registro</p>
                    <p>Por favor, complete el siguiente formulario para darse de alta en la aplicación.</p>
                    <p><strong>Nota:</strong> Los campos marcados con asterisco (<span style="color: red">*</span>) son obligatorios.</p>
                    <div class="form-group required">
                        <label for="name">Nombre</label>
                        <input type="text" class="form-control" :class="errors.name ? 'is-invalid' : ''" id="name" placeholder="Nombre..." v-model="name" @focus="clearError('name')">
                        <div class="invalid-feedback">{{ errors.name }}</div>
                    </div>
                    <div class="form-group required">
                        <label for="last_name">Apellidos</label>
                        <input type="text" class="form-control" :class="errors.lastName ? 'is-invalid' : ''" id="last_name" placeholder="Apellidos..." v-model="lastName" @focus="clearError('lastName')">
                        <div class="invalid-feedback">{{ errors.lastName }}</div>
                    </div>
                    <div class="form-group">
                        <label for="address">Dirección</label>
                        <input type="text" class="form-control" id="address" placeholder="Dirección..." v-model="address" :class="errors.address ? 'is-invalid' : ''" @focus="clearError('address')">
                        <div class="invalid-feedback">{{ errors.address }}</div>
                    </div>
                    <div class="form-group required">
                        <label for="email">Email</label>
                        <input type="email" class="form-control" :class="errors.email ? 'is-invalid' : ''" id="email" placeholder="email@example.com..." v-model="email" @focus="clearError('email')">
                        <div class="invalid-feedback">{{ errors.email }}</div>
                    </div>
                    <div class="form-group required">
                        <label for="province">Provincia</label>
                        <select class="form-control" id="province" v-model="province" :class="errors.province ? 'is-invalid' : ''" @focus="clearError('province')">
                            <option v-for="province in provinces" :value="province.id_provincia" :key="province.id_provincia">{{province.provincia}}</option>
                        </select>
                        <div class="invalid-feedback">{{ errors.province }}</div>
                    </div>
                    <div class="form-group required">
                        <label for="gender">Sexo</label>
                        <select class="form-control" id="gender" v-model="gender" :class="errors.gender ? 'is-invalid' : ''" @focus="clearError('gender')">
                            <option v-for="gender in genders" :value="gender.id" :key="gender.id">{{gender.name}}</option>
                        </select>
                        <div class="invalid-feedback">{{ errors.gender }}</div>
                    </div>
                    <div class="form-group" :class="errors.preference ? 'is-invalid' : ''">
                        <p>Preferencias</p>
                        <div class="form-check form-check-inline" v-for="preference in preferences" :key="preference.preferencia_id">
                            <input class="form-check-input" type="checkbox" :id="'preference_' + preference.preferencia_id" :value="preference.preferencia_id" v-model="selectedPrefs" @click="clearError('preference')">
                            <label class="form-check-label" :for="'preference_' + preference.preferencia_id">{{ preference.preferencia }}</label>
                        </div>
                        <div class="invalid-feedback">{{ errors.preference }}</div>
                    </div>
                    <div class="btn_container pt-3">
                        <button type="submit" class="btn btn-custom" @click.prevent="sendForm()" :disabled="loading">Enviar</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</template>

<script>
  import Loader from './components/Loader';
  import axios from 'axios';
  import swal from 'sweetalert';

  export default {
      name: 'App',
      data: () => ({
          isLoading: true,
          baseUrl: '',
          genders: [],
          preferences: [],
          provinces: [],
          name: '',
          lastName: '',
          address: '',
          email: '',
          province: '',
          gender: '',
          selectedPrefs: [],
          formErrors: {},
      }),
      computed: {
          loading() {
              return this.isLoading;
          },
          pageTitle() {
              return document.title;
          },
          errors() {
              return this.formErrors;
          }
      },
      components: {
          Loader
      },
      mounted() {
          this.baseUrl = window.location.protocol + '//' + window.location.host;
          axios.get(`${this.baseUrl}/api/v1/config`).then(({data: {data, status, error}}) => {
              if (status) {
                  this.genders = data.genders;
                  this.preferences = data.preferences;
                  this.provinces = data.provinces;
                  // A little delay to show the anim :D. I NEVER DO THIS IN PROD, I PROMISE
                  setTimeout(() => {
                      this.isLoading = false;
                  }, 1000);
              } else {
                  // In case of error, Loader is not hidden. SWAL cannot be closed
                  swal({
                      title: 'Error',
                      text: error,
                      icon: 'error',
                      buttons: false
                  });
              }
          }).catch(() => {
              // In case of error, Loader is not hidden. SWAL cannot be closed
              swal({
                  title: 'Error',
                  text: 'Servicio temporalmente no disponible. Por favor, inténtelo de nuevo más tarde.',
                  icon: 'error',
                  buttons: false
              });
          })
      },
      methods: {
          sendForm() {
              this.isLoading = true;
              this.formErrors = {};
              let error = false;
              if (!/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s\-]{3,}$/.test(this.name)) { // We known X Æ A-12 it's not a valid name
                  this.formErrors.name = 'Por favor, introduce un nombre válido.';
                  error = true;
              }
              if (!/^[a-zA-ZÀ-ÿ\u00f1\u00d1\s\-]+$/.test(this.lastName)) { // Last name can be one letter
                  this.formErrors.lastName = 'Por favor, introduce un apellido válido.';
                  error = true;
              }
              // Field direction is not validated in JS due is OPTIONAL
              if (!/^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/.test(this.email)) {
                  this.formErrors.email = 'Por favor, introduce un email válido';
                  error = true;
              }
              if (!/[0-9]+$/.test(this.province)) {
                  this.formErrors.province = 'Por favor, seleccione una provincia de la lista.';
                  error = true;
              }
              if (!/[0-9]+$/.test(this.gender)) {
                  this.formErrors.gender = 'Por favor, seleccione un género de la lista.';
                  error = true;
              }
              // Field preferences is not validated due is OPTIONAL
              if (!error) {
                  const formData = new FormData();
                  formData.append('name', this.name);
                  formData.append('lastName', this.lastName);
                  formData.append('address', this.address);
                  formData.append('email', this.email);
                  formData.append('province', this.province);
                  formData.append('gender', this.gender);
                  for (let i = 0; i < this.selectedPrefs.length; i++) {
                      formData.append('preferences[]', this.selectedPrefs[i]);
                  }
                  axios.post(`${this.baseUrl}/api/v1/addUser`, formData).then(({data: {status, message, errors}}) => {
                      if (status) {
                          swal({
                            title: 'Registro exitoso',
                            text: message,
                            icon: 'success'
                          });
                          this.resetFormData();
                      } else {
                          Object.keys(errors).forEach(key => {
                             if (errors.hasOwnProperty(key)) {
                                 this.formErrors[key] = errors[key].join('. ');
                             }
                          });
                      }
                  }).catch(() => {
                      swal({
                        title: 'Error',
                        text: 'Servicio no disponible temporalmente. Por favor, inténtalo de nuevo más tarde.',
                        icon: 'error',
                        buttons: false
                      });
                  }).finally(() => {
                      this.isLoading = false;
                  });
              } else {
                  this.isLoading = false;
              }
          },
          clearError(field) {
              if(this.formErrors.hasOwnProperty(field)) {
                  this.$delete(this.formErrors, field);
              }
          },
          resetFormData() {
              this.name = '';
              this.lastName = '';
              this.address = '';
              this.email = '';
              this.province = '';
              this.gender = '';
              this.selectedPrefs = [];
          }
      },
  };
</script>

<style lang="scss">
    #appContainer {
        background-color: var(--white);
        width: 100%;
        min-height: 100vh;
        .custom-header {
            background-color: var(--dark-blue);
            .navbar-brand {
                color: var(--white);
                outline: 0;
                &:hover, &:focus, &:active {
                    outline: 0;
                    color: var(--medium-white);
                }
            }
        }
        .user_form {
            max-width: 600px;
            margin: 0 auto;
            .form-group {
                &.is-invalid {
                    .invalid-feedback {
                        display: block;
                    }
                }
                &.required {
                    label {
                        &:after {
                            content:" *";
                            color:red;
                        }
                    }
                }
            }
            .btn_container {
                margin: 0 auto;
                text-align: center;
                .btn-custom {
                    background-color: var(--dark-blue);
                    color: var(--white);
                    border-color: var(--medium-blue);
                    outline: 0;
                    box-shadow: none;
                    &:hover, &:focus {
                        background-color: var(--medium-blue);
                        border-color: var(--dark-blue);
                        color: var(--medium-white);
                        outline: 0;
                    }
                }
            }
        }
    }
</style>
