// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

:root {
    --dark-blue: #{$dark-blue};
    --medium-blue: #{$medium-blue};
    --light-blue: #{$light-blue};
    --medium-white: #{$medium-white};
    --white: #{$white};
    --background: #{$background-color};
}

body {
    background-color: var(--background);
}
