<template>
    <div id="loader">
        <div class="loader_container">
            <div class="squares">
                <div class="square"></div>
                <div class="square big"></div>
                <div class="square"></div>
            </div>
            <div class="loading_text_container">
                <p>Cargando</p><p class="dots"></p>
            </div>
        </div>
    </div>
</template>

<script>
  export default {
    name: 'Loader'
  };
</script>

<style lang="scss">
    #loader {
        width: 100vw;
        height: 100vh;
        margin: 0;
        padding: 0;
        position: fixed;
        top: 0;
        left: 0;
        background-color: var(--dark-blue);
        z-index: 9;
        .loader_container {
            display: flex;
            flex-direction: column;
            align-content: center;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 100%;
            .squares {
                display: flex;
                flex-direction: row;
                align-items: center;
                margin-bottom: 50px;
                .square {
                    width: 60px;
                    height: 60px;
                    border-radius: 6px;
                    border: 2px solid var(--medium-white);
                    background-color: var(--white);
                    animation: loader_animation 2.5s infinite;
                    box-shadow: 0 2px 2px 0 rgba(0,0,0,0.14), 0 3px 1px -2px rgba(0,0,0,0.12), 0 1px 5px 0 rgba(0,0,0,0.20);
                    margin-left: -20px;
                    &:first-child {
                        margin-left: 0;
                    }
                    &.big {
                        width: 80px;
                        height: 80px;
                        box-shadow: 0 4px 5px 0 rgba(0,0,0,0.14), 0 1px 10px 0 rgba(0,0,0,0.12), 0 2px 4px -1px rgba(0,0,0,0.20);
                    }
                    &:last-child {
                        box-shadow: 0 6px 10px 0 rgba(0,0,0,0.14), 0 1px 18px 0 rgba(0,0,0,0.12), 0 3px 5px -1px rgba(0,0,0,0.20);
                    }
                }
            }
            .loading_text_container {
                display: flex;
                flex-direction: row;
                width: 100%;
                align-items: center;
                justify-content: center;
                align-content: center;
                p {
                    color: var(--white);
                    font-size: 1.2rem;
                    letter-spacing: .5px;
                }
                .dots {
                    &:after {
                        overflow: hidden;
                        display: inline-flex;
                        vertical-align: bottom;
                        animation: dots_animation steps(4, end) 1.4s infinite;
                        content: "\2026";
                        color: var(--white);
                        margin-right: -1.2rem;
                    }
                }
            }
        }
    }
    @keyframes dots_animation {
        from {
            width: 0;
        }
        to {
            width: 1.2rem;
        }
    }
    @keyframes loader_animation {
        0% {
            transform: rotate(0deg);
        }
        25% {
            transform: rotate(90deg);
        }
        50% {
            transform: rotate(180deg);
        }
        75% {
            transform: rotate(270deg);
        }
        100% {
            transform: rotate(360deg);
        }
    }
</style>
